<mat-drawer-container class="peek-container" [hasBackdrop]="true" autosize>

  <mat-drawer #drawer class="peek-sidenav" mode="over" role="navigation">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="peek-content">

    <mat-toolbar role="banner">
      <a mat-icon-button routerLink="/">
        <mat-icon color="accent">home</mat-icon>
      </a>
      <h1 role="logo">Welcome to {{ title }}!</h1>
    </mat-toolbar>

    <main role="contentinfo">
      <router-outlet></router-outlet>
    </main>

  </div>

</mat-drawer-container>
