<form cdkTrapFocus [formGroup]="form" (ngSubmit)="authFacade.login(form.value)">
  <mat-card>
    <mat-tab-group dynamicHeight mat-stretch-tabs animationDuration="2000ms">
      <mat-tab mat-card-content label="Cadastro">
        <peek-sign-up [form]="form"></peek-sign-up>
      </mat-tab>
      <mat-tab mat-card-content label="Acesso">
        <peek-sign-in [form]="form"></peek-sign-in>
      </mat-tab>
    </mat-tab-group>

    <peek-pwned-message
      *ngIf="password.errors?.pwned"
      [pwned]="password.errors?.pwned"
    ></peek-pwned-message>

    <mat-card-actions>
      <button mat-button tabindex="-1" type="reset">Limpar</button>
      <button
        type="submit"
        color="accent"
        mat-stroked-button
        [disabled]="form.invalid"
      >
        Continuar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
