<figure class="home">
  <img src="assets/images/logo-color.svg" alt="" />
</figure>
<form id="room-form" autocomplete="off" [formGroup]="form">
  <mat-form-field>
    <mat-label>Nome da sala</mat-label>
    <input
      matInput
      autofocus
      type="text"
      name="room-code"
      placeholder="Exemplo: bg466"
      formControlName="code"
      (keyup.enter)="onEnter()"
    />
    <mat-hint
      >Sem espaços ou caracteres especiais, apenas de A-Z e 0-9</mat-hint
    >
    <mat-error *ngIf="code.hasError('pattern')"
      >Nome inválido, não use caracteres especiais</mat-error
    >
  </mat-form-field>
</form>
<mat-toolbar>
  <button
    mat-flat-button
    color="primary"
    form="room-form"
    [disabled]="code.value === ''"
    (click)="onEnter()"
  >
    Criar sala
  </button>
  <a mat-flat-button color="primary" routerLink="/one2one"> Sala principal </a>
</mat-toolbar>
