<section [ngClass]="{ crop: crop | async }">
  <button class="crop-button" mat-icon-button (click)="toggleCrop()">
    <mat-icon>crop</mat-icon>
  </button>
  <video #localVideo id="localVideo" playsinline autoplay muted></video>
  <video #remoteVideo id="remoteVideo" playsinline autoplay></video>
</section>
<mat-toolbar>
  <button
    mat-icon-button
    color="accent"
    [disabled]="(state | async) == 'stable'"
    (click)="initCall()"
  >
    <mat-icon>call</mat-icon>
  </button>
  <div>
    <button
      mat-icon-button
      [disabled]="(state | async) == 'closed'"
      (click)="toggleVideo()"
    >
      <mat-icon>{{ (video | async) ? 'videocam' : 'videocam_off' }}</mat-icon>
    </button>
    <button
      mat-icon-button
      [disabled]="(state | async) == 'closed'"
      (click)="toggleAudio()"
    >
      <mat-icon> {{ (audio | async) ? 'mic' : 'mic_off' }} </mat-icon>
    </button>
    <button
      mat-icon-button
      [disabled]="(state | async) == 'closed'"
      (click)="shareScreen()"
    >
      <mat-icon>
        {{ (screen | async) ? 'screen_share' : 'stop_screen_share' }}
      </mat-icon>
    </button>
  </div>
  <button
    color="warn"
    mat-icon-button
    [disabled]="(state | async) != 'stable'"
    (click)="hangup()"
  >
    <mat-icon>call_end</mat-icon>
  </button>
</mat-toolbar>
