@import '~@angular/material/theming';
@import 'app/app-theme';
@include mat-core();

$peek-base-typography: mat-typography-config(
  $font-family: '"Lato", sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);
$peek-typography: mat-typography-config(
  $font-family: '"Montserrat", sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);
@include mat-base-typography($peek-base-typography);
@include mat-card-typography($peek-base-typography);
@include angular-material-typography($peek-typography);

$peek-primary: mat-palette($mat-deep-purple);
$peek-accent: mat-palette($mat-light-blue);
$peek-warn: mat-palette($mat-red);
$peek-theme: mat-dark-theme(
  (
    color: (
      primary: $peek-primary,
      accent: $peek-accent,
      warn: $peek-warn,
    ),
  )
);
@include angular-material-theme($peek-theme);
@include app-theme($peek-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
body {
  .mat-bottom-sheet-container {
    padding: 0;
  }
  .mat-list-base {
    padding-top: 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}
.space {
  flex: 1 1 auto;
}
.mat-grid-list .mat-button-base {
  padding: 12px 24px;
  border-radius: 8%;
}
body .mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.6);
}
